@font-face {
  font-family: "Apercu Mono pro";
  src: url("../public/fonts/ApercuMonoProMedium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: blanquotey;
  src: url("/public/fonts/Blanquotey.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.canvas {
  height: 110vh;
}

.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: #000;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 10000;
  transform: translate(-50%, -50%);
}

/* NAV */

nav {
  margin-left: 10px;
  box-sizing: border-box;
  position: relative;
}

.logo {
  position: absolute;
  width: 100%;
  top: 0%;
  z-index: 1;
}

.logo h1 {
  font-family: blanquotey;
  font-size: 60px;
  font-weight: lighter;
  margin: 0;
  padding: 0;
  line-height: 100%;
}

.logo h1 span {
  position: relative;
  display: inline-block;
  transform: translateY(100px);
  font-size: 1vw;
  opacity: 0;
  color: #28282b;
  top: 14px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

/* ///////// */

.indicator-wrapper {
  position: absolute;
  z-index: 1;
  bottom: 2%;
  right: 2%;
}

.indicator-wrapper p {
  display: block;
  /* text-align: center; */
  font-size: 18px;
  font-family: blanquotey;
  font-weight: 700;
  font-style: normal;
  color: #000;
  margin: 0 auto;
  mix-blend-mode: difference;
}

.indicator {
  z-index: 1;
  position: relative;
  width: 30px;
  height: 60px;
  border: 2px solid #000;
  border-radius: 50px;
  right: -30px;
}

.indicator::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background: red;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  border-radius: 50%;
  animation: animate 1.5s linear infinite;
}

/* header */
.header {
  position: absolute;
  width: 100%;
  top: 5%;
  left: 0;
  clip-path: polygon(0% 100%, 100% 100%, 100% 0, 0 0);
  z-index: 1;
}

.header h1 {
  font-family: blanquotey;
  font-size: 60px;
  font-weight: lighter;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 100%;
}

.header h1 span {
  position: relative;
  display: inline-block;
  transform: translateY(100px);
  font-size: 4vw;
  opacity: 0;
  color: #28282b;
  top: 14px;
  letter-spacing: 10px;
  text-transform: uppercase;
}

/* ////// */

.containerOne {
  position: absolute;
  width: 350px;
  height: 400px;
  background-color: #fff;
  color: #fff;
  top: 30%;
  right: 8%;
  border-radius: 10px;
  /* opacity: 0;  */
}

.containerTwo {
  position: absolute;
  width: 350px;
  height: 400px;
  background-color: #fff;
  color: #fff;
  top: 30%;
  left: 8%;
  border-radius: 10px;
  /* opacity: 0;  */
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 350px;
  height: 400px;
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  will-change: transform;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
  background-color: #000;
  clip-path: polygon(0% 100%, 100% 100%, 100% 0, 0 0);
  z-index: 2;
  border-radius: 10px;
}

.content {
  font-family: "Exo 2", sans-serif;
  font-size: 15px;
  font-weight: 300;
  /* text-align: center; */
  margin: 0;
  padding: 0;
  line-height: 20px;
  padding: 20px;
  opacity: 0;
  color: #28282b;
}

.hero-img {
  position: absolute;
  bottom: -15px;
  width: 100%;
  height: 30vh;
  overflow: hidden;
  z-index: 0;
}

.hero-img img {
  transform: scale(2);
}

@keyframes animate {
  0% {
    opacity: 1;
    top: 10px;
  }
  100% {
    opacity: 0;
    top: 60px;
    transform: scale(0.8);
  }
}

.mission_container {
  height: 300vh;
  position: relative;
}

.mission_container .sticky {
  position: sticky;
  overflow: hidden;
  top: 0;
  height: 100vh;
}

.mission_container .sticky .el {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mission_container .sticky .el .mission_image_container {
  position: relative;
  width: 25vw;
  height: 25vh;
}

.mission_container .sticky .el .mission_image_container img {
  object-fit: cover;
}

.mission_container .sticky .el:nth-of-type(2) .mission_image_container {
  top: -30vh;
  left: 5vw;
  width: 35vw;
  height: 33vh;
}

.mission_container .sticky .el:nth-of-type(3) .mission_image_container {
  top: -10vh;
  left: -25vw;
  width: 20vw;
  height: 48vh;
}

.mission_container .sticky .el:nth-of-type(4) .mission_image_container {
  left: 27.5vw;
  width: 25vw;
  height: 26vh;
}

.mission_container .sticky .el:nth-of-type(5) .mission_image_container {
  top: 27.5vh;
  left: 5vw;
  width: 20vw;
  height: 28vh;
}

.mission_container .sticky .el:nth-of-type(6) .mission_image_container {
  top: 32.5vh;
  left: -22.5vw;
  width: 30vw;
  height: 34vh;
}

.mission_container .sticky .el:nth-of-type(7) .mission_image_container {
  top: 27.5vh;
  left: 25vw;
  width: 15vw;
  height: 25vh;
}

.section {
  height: 100vh;
  background-color: #000;
  position: relative;
}

.section_inner {
  padding: 100px;
  color: #fff;
}

.section_inner h1 {
  font-size: 70px;
  color: #008ecc;
  text-decoration: underline;
  text-decoration-color: #fff;
  text-underline-offset: 15px;
}

.section_inner h1 span {
  font-size: 100px;
  color: #fff;
}

.section_inner p {
  font-size: 60px;
  margin-top: 20px;
}

.section_inner p span {
  font-size: 80px;
  margin-top: 20px;
  color: #008ecc;
}

@media (max-width: 768px) {
  .section_inner {
    padding: 20px;
  }

  .section_inner h1 {
    font-size: 35px;
  }

  .section_inner h1 span {
    font-size: 50px;
  }

  .section_inner p {
    font-size: 35px;
  }

  .section_inner p span {
    font-size: 30px;
  }

  .mission_container .sticky .el:nth-of-type(2) .mission_image_container {
    top: -26vh;
    left: 5vw;
    width: 30vw;
    height: 25vh;
  }

  .mission_container .sticky .el:nth-of-type(3) .mission_image_container {
    top: -10vh;
    left: -25vw;
    width: 20vw;
    height: 35vh;
  }
}

/* .footer-container {
  position: relative;
  height: 100vh;
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
}

.footer-fixed {
  position: fixed;
  bottom: 0;
  height: 100%;
  width: 100%;
} */

.content-container {
  background-color: #000;
  /* padding: 2rem 3rem; */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .section-container {
  overflow: auto;
} */

.section-container-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 50px;
}

.section-heading {
  font-size: 13vw;
  line-height: 0.8;
  margin-top: 2.5rem;
  font-family: blanquotey;
  letter-spacing: 20px;
  text-transform: uppercase;
  color: #fff;
}

.section-container p {
  color: #fff;
  font-family: "Apercu Mono pro";
}

.header-info {
  width: 100%;
  /* height: 100vh; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000;
  color: #fff;
}

.header-info p {
  padding: 1em;
  font-family: pp;
  font-size: 52px;
  font-weight: lighter;
}

section.pinned {
  position: absolute;
  top: 100vh;
  width: 100%;
  height: 100vh;
  z-index: 2;
}

section.whitespace {
  position: relative;
  width: 100%;
  height: 300vh;
  background-color:#000;
  z-index: -1;
}

.revealer {
  position: relative;
  transform: translate(-50%, 0%);
  left: 35%;
  margin-top: 325px;
  width: 180px;
  height: 120px;
}

.revealer .revealer-1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  clip-path: polygon(45% 0%, 55% 0%, 55% 100%, 45% 100%);
}

.revealer .revealer-2 {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(90deg);
  width: 100%;
  height: 100%;
  background-color: #fff;
  clip-path: polygon(45% 0%, 55% 0%, 55% 100%, 45% 100%);
}

section.website-content {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: red;
  z-index: 10;
  top: -10%;
  padding: 20px;
}

.website-content h1 {
  font-size: 60px;
  letter-spacing: 10px;
  font-family: blanquotey;
  text-transform: uppercase;
}

.website-content p {
  font-size: 20px;
  color: #000;
  /* letter-spacing: 10px; */
  /* font-family: blanquotey; */
  /* text-transform: uppercase; */
}

.about {
  font-size: 50px;
  letter-spacing: 0;
  /* font-family: tim; */
}

.homeHeader {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  top: -70vh;
}

.backgroundImage {
  width: 100%;
  height: 140vh;
  position: absolute;
  filter: brightness(40%);
}

.backgroundImage img {
  object-fit: cover;
}

.banner_intro {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 35vh;
}

.banner_intro h1 {
  color: white;
  font-size: 7vw;
  z-index: 3;
  text-align: center;
  white-space: nowrap;
}

.introImage {
  filter: brightness(70%);
  width: 350px;
  height: 475px;
  position: absolute;
}

.introImage img {
  object-fit: cover;
  object-position: top;
}

@media only screen and (max-width: 850px) {
  .backgroundImage {
    height: 70vh;
    width: 100vw;
  }

  .backgroundImage img {
    width: 300px;
  }

  .introImage {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .backgroundImage {
    height: 70vh;
    width: 100vw;
  }

  .backgroundImage img {
    width: 300px;
  }

  .introImage {
    display: none;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 60px;
  }

  .header-info p {
    padding: 20px;
    font-size: 30px;
  }

  .hero h1 {
    font-size: 100px;
    letter-spacing: 4px;
  }

  section.info {
    height: 100vh;
  }

  section.website-content {
    padding: 10px;
    top: 2%;
    /* margin-top: -450px; */
  }

  .website-content h1 {
    font-size: 30px;
    letter-spacing: 0;
  }
}
