@font-face {
  font-family: "Apercu Mono pro";
  src: url("../public/fonts/ApercuMonoProMedium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: blanquotey;
  src: url("/public/fonts/Blanquotey.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #000;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.canvas {
  height: 110vh;
}

.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: #000;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 10000;
  transform: translate(-50%, -50%);
}

/* NAV */

nav {
  margin-left: 10px;
  box-sizing: border-box;
  position: relative;
}

.logo {
  position: absolute;
  width: 100%;
  top: 0%;
  z-index: 1;
}

.logo h1 {
  font-family: blanquotey;
  font-size: 60px;
  font-weight: lighter;
  margin: 0;
  padding: 0;
  line-height: 100%;
}

.logo h1 span {
  position: relative;
  display: inline-block;
  transform: translateY(100px);
  font-size: 1vw;
  opacity: 0;
  color: #fff;
  top: 14px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

/* ///////// */

.indicator-wrapper {
  position: absolute;
  z-index: 1;
  bottom: 2%;
  right: 2%;
}

.indicator-wrapper p {
  display: block;
  /* text-align: center; */
  font-size: 18px;
  font-family: blanquotey;
  font-weight: 700;
  font-style: normal;
  color: #fff;
  margin: 0 auto;
  mix-blend-mode: difference;
}

.indicator {
  z-index: 1;
  position: relative;
  width: 30px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 50px;
  right: -30px;
}

.indicator::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background: red;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  border-radius: 50%;
  animation: animate 1.5s linear infinite;
}

.indicator-wrapper2 {
  position: absolute;
  z-index: 1;
  bottom: 70%;
  right: 10%;
}

.indicator-wrapper2 p {
  display: block;
  font-size: 13px;
  font-family: blanquotey;
  font-weight: 700;
  font-style: normal;
  color: #000;
  margin: 0 auto;
  mix-blend-mode: difference;
}

.indicator2 {
  z-index: 1;
  position: relative;
  width: 30px;
  height: 60px;
  border: 2px solid #000;
  border-radius: 50px;
  right: -30px;
}

.indicator2::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background: red;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  border-radius: 50%;
  animation: animate 1.5s linear infinite;
}

/* header */
.header {
  position: absolute;
  width: 100%;
  top: 5%;
  left: 0;
  clip-path: polygon(0% 100%, 100% 100%, 100% 0, 0 0);
  z-index: 1;
  color: #fff;
}

.header h1 {
  font-family: blanquotey;
  font-size: 60px;
  font-weight: lighter;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 100%;
  color: #fff;
}

.header h1 span {
  position: relative;
  display: inline-block;
  transform: translateY(100px);
  font-size: 7vw;
  opacity: 0;
  color: #fff;
  top: 14px;
  letter-spacing: 10px;
  text-transform: uppercase;
}

/* ////// */

.containerOne {
  position: absolute;
  width: 350px;
  height: 400px;
  background-color: #fff;
  color: #fff;
  top: 30%;
  right: 8%;
  border-radius: 10px;
  /* opacity: 0;  */
}

.containerTwo {
  position: absolute;
  width: 350px;
  height: 400px;
  background-color: #fff;
  color: #fff;
  top: 30%;
  left: 8%;
  border-radius: 10px;
  /* opacity: 0;  */
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 350px;
  height: 400px;
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  will-change: transform;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
  background-color: #000;
  clip-path: polygon(0% 100%, 100% 100%, 100% 0, 0 0);
  z-index: 2;
  border-radius: 10px;
}

.content {
  font-family: "Exo 2", sans-serif;
  font-size: 15px;
  font-weight: 300;
  /* text-align: center; */
  margin: 0;
  padding: 0;
  line-height: 20px;
  padding: 20px;
  opacity: 0;
  color: #28282b;
}

.hero-img {
  position: absolute;
  bottom: -15px;
  width: 100%;
  height: 30vh;
  overflow: hidden;
  z-index: 0;
}

.hero-img img {
  transform: scale(2);
}

.mission_container {
  height: 300vh;
  position: relative;
}

.mission_container .sticky {
  position: sticky;
  overflow: hidden;
  top: 0;
  height: 100vh;
}

.mission_container .sticky .el {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mission_container .sticky .el .mission_image_container {
  position: relative;
  width: 25vw;
  height: 25vh;
}

.mission_container .sticky .el .mission_image_container img {
  object-fit: cover;
}

.mission_container .sticky .el:nth-of-type(2) .mission_image_container {
  top: -30vh;
  left: 5vw;
  width: 35vw;
  height: 33vh;
}

.mission_container .sticky .el:nth-of-type(3) .mission_image_container {
  top: -10vh;
  left: -25vw;
  width: 20vw;
  height: 48vh;
}

.mission_container .sticky .el:nth-of-type(4) .mission_image_container {
  left: 27.5vw;
  width: 25vw;
  height: 26vh;
}

.mission_container .sticky .el:nth-of-type(5) .mission_image_container {
  top: 27.5vh;
  left: 5vw;
  width: 20vw;
  height: 28vh;
}

.mission_container .sticky .el:nth-of-type(6) .mission_image_container {
  top: 32.5vh;
  left: -22.5vw;
  width: 30vw;
  height: 34vh;
}

.mission_container .sticky .el:nth-of-type(7) .mission_image_container {
  top: 27.5vh;
  left: 25vw;
  width: 15vw;
  height: 25vh;
}

.section {
  height: 100vh;
  background-color: #000;
  position: relative;
}

.section_inner {
  padding: 100px;
  color: #fff;
}

.section_inner h1 {
  font-size: 70px;
  color: #008ecc;
  text-decoration: underline;
  text-decoration-color: #fff;
  text-underline-offset: 15px;
}

.section_inner h1 span {
  font-size: 100px;
  color: #fff;
}

.section_inner p {
  font-size: 60px;
  margin-top: 20px;
}

.section_inner p span {
  font-size: 80px;
  margin-top: 20px;
  color: #008ecc;
}

/* .footer-container {
  position: relative;
  height: 100vh;
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
}

.footer-fixed {
  position: fixed;
  bottom: 0;
  height: 100%;
  width: 100%;
} */

.content-container {
  background-color: #000;
  /* padding: 2rem 3rem; */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .section-container {
  overflow: auto;
} */

.section-container-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 50px;
}

.section-heading {
  font-size: 13vw;
  line-height: 0.8;
  margin-top: 2.5rem;
  font-family: blanquotey;
  letter-spacing: 20px;
  text-transform: uppercase;
  color: #fff;
}

.section-container-inner-text {
  color: #fff;
  font-family: "Apercu Mono pro";
}

.header-info {
  width: 100%;
  height: 100%;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000;
  color: #fff;
}

.header-text {
  padding: 1em;
  font-family: "Apercu Mono pro";
  font-size: 40px;
  font-weight: lighter;
  word-spacing: 5px;
  margin-top: 60px;
}

section.pinned {
  position: absolute;
  top: 100vh;
  width: 100%;
  height: 100vh;
  z-index: 2;
}

section.whitespace {
  position: relative;
  width: 100%;
  height: 300vh;
  background-color: #000;
  z-index: -1;
}

.revealer {
  position: absolute;
  transform: translate(-50%, 0%);
  left: 35%;
  margin-top: 325px;
  width: 120px;
  height: 120px;
}

.revealer .revealer-1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  clip-path: polygon(45% 0%, 55% 0%, 55% 100%, 45% 100%);
}

.revealer .revealer-2 {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(90deg);
  width: 100%;
  height: 100%;
  background-color: #fff;
  clip-path: polygon(45% 0%, 55% 0%, 55% 100%, 45% 100%);
}

section.website-content {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10;
  padding: 20px; /* Adjust padding as needed */
  margin-top: 50px; /* Add margin to create space after the revealer */
}

.website-content h1 {
  /* font-size: 60px; */
  letter-spacing: 10px;
  font-family: blanquotey;
  text-transform: uppercase;
}

.website-content p {
  font-size: 30px;
  color: #000;
  margin-top: 20px;
}

.about {
  font-size: 30px;
  letter-spacing: 0;
}

.about-wrapper {
  margin-top: 120px;
}

.about-header {
  font-size: 40px;
  letter-spacing: 0;
  text-decoration: underline;
  text-decoration-color: red;

  /* font-family: tim; */
}

.homeHeader {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  top: -80vh;
}

.backgroundImage {
  width: 100%;
  height: 140vh;
  position: absolute;
  filter: brightness(40%);
}

.backgroundImage img {
  object-fit: cover;
}

.banner_intro {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 35vh;
}

.banner_intro h1 {
  color: white;
  font-size: 7vw;
  z-index: 3;
  text-align: center;
  white-space: nowrap;
}

.introImage {
  filter: brightness(70%);
  width: 350px;
  height: 475px;
  position: absolute;
}

.introImage img {
  object-fit: cover;
  object-position: top;
}

/* Footer */

.footer {
  position: relative;
  height: 800px;
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
}

.footer-inner {
  position: fixed;
  bottom: 0;
  height: 800px;
  width: 100%;
}

.content-wrapper {
  background-color: #800000;
  padding: 2rem 3rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section2-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.section2-heading {
  font-size: 13vw;
  line-height: 0.8;
  margin-top: 2.5rem;
  font-family: blanquotey;
  letter-spacing: 20px;
  text-transform: uppercase;
}

.section2-container p {
  color: #fff;
  font-family: "Apercu Mono pro";
}

.nav-container {
  display: flex;
  flex-shrink: 0;
  gap: 5rem;
}

.nav-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 50px;
}

.nav-column p {
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Apercu Mono pro";
  cursor: pointer;
}

.nav-title {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: #fff;
  font-family: "Apercu Mono pro";
}

.nav-container {
  padding: 16px;
}

.nav-column {
  display: flex;
  flex-direction: column;
  gap: 16px; /* Space between items */
}

.nav-title {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 8px;
  color: #ffffff80; /* Slightly dimmed text */
}

/* Copyable Text Styles */
.copyable {
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.copyable:hover {
  color: #f39c12; /* Example hover color */
  text-decoration: none;
}

/* Copy Message Styles */
.copy-container {
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;
}

.copied-message {
  position: absolute;
  top: -1.5rem;
  left: 0;
  background-color: #333;
  color: #fff;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  font-size: 0.8rem;
  white-space: nowrap;
  z-index: 10;
  opacity: 0;
  animation: fadeInOut 2s forwards;
}

/* //////////////////// */

/* //////////////////// */

/* Key Frames */

@keyframes animate {
  0% {
    opacity: 1;
    top: 10px;
  }
  100% {
    opacity: 0;
    top: 60px;
    transform: scale(0.8);
  }
}

/* RESPONSIVENESS */

@media only screen and (max-width: 850px) {
  .backgroundImage {
    height: 70vh;
    width: 100vw;
  }

  .backgroundImage img {
    width: 300px;
  }

  .introImage {
    display: none;
  }
}

@media (max-width: 768px) {
  .section-container-inner {
    padding: 20px;
  }

  .section-heading {
    font-size: 10vw;
  }

  .section-container-inner {
    font-size: 10px;
  }

  .section_inner {
    padding: 20px;
  }

  .section_inner h1 {
    font-size: 35px;
  }

  .section_inner h1 span {
    font-size: 50px;
  }

  .section_inner p {
    font-size: 35px;
  }

  .section_inner p span {
    font-size: 30px;
  }

  .mission_container .sticky .el:nth-of-type(2) .mission_image_container {
    top: -26vh;
    left: 5vw;
    width: 30vw;
    height: 25vh;
  }

  .mission_container .sticky .el:nth-of-type(3) .mission_image_container {
    top: -10vh;
    left: -25vw;
    width: 20vw;
    height: 35vh;
  }
}

@media only screen and (max-width: 450px) {
  .backgroundImage {
    height: 70vh;
    width: 100vw;
  }

  .backgroundImage img {
    width: 300px;
  }

  .introImage {
    display: none;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 60px;
  }

  .header-text {
    padding: 20px;
    font-size: 20px;
    word-spacing: normal;
  }

  .hero h1 {
    font-size: 100px;
    letter-spacing: 4px;
  }

  section.info {
    height: 100vh;
  }

  section.website-content {
    padding: 10px;
    top: -3%;
    /* margin-top: -450px; */
  }

  .website-content h1 {
    font-size: 20px;
    letter-spacing: 0;
  }

  .website-content p {
    font-size: 20px;
    color: #000;
    margin-top: 20px;
  }
}

/* //////////////////// */
/* //////////////////// */
/* //////////////////// */
/* //////////////////// */
/* //////////////////// */
/* //////////////////// */
/* //////////////////// */
/* //////////////////// */
/* //////////////////// */

.single .container .top-row {
  height: 50vh;
  width: 100%;
  align-items: flex-end;
}
.single .container .top-row .top {
  padding-bottom: 40px;
}
.single .container .top-row .top .details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.single .container .top-row .top .details .location span:nth-child(2) {
  margin-left: 16px;
}
.single .container .top-row .top .details .mua {
  text-transform: uppercase;
}
.single .container .top-row .top .model {
  overflow: hidden;
  font-family: "Apercu Mono pro";
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
  top: 120px;
}
.single .container .top-row .top .model .first {
  margin-right: 72px;
}
.single .container .top-row .top .model span {
  display: inline-block;
  position: relative;
  font-weight: 400;
  font-size: 230px;
  font-family: blanquotey;
  color: #fff;
}

@media (max-width: 1440px) {
  .single .container .top-row .top .model span {
    font-size: 128px;
  }
}

.single .container .bottom-row {
  height: 50vh;
  position: relative;
}
.single .container .bottom-row .bottom {
  height: 100%;
  width: 100%;
}
.single .container .bottom-row .bottom .thumbnail-single {
  width: 100%;
  height: 800px;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
}
.single .container .bottom-row .bottom .thumbnail-single .frame-single img {
  position: absolute;
  width: 100%;
}
.single .container .bottom-row .scroll-for-more {
  position: absolute;
  bottom: 200px;
  left: 200px;
  z-index: 20;
}
.single .container .bottom-row .scroll-for-more .icon svg {
  height: auto;
  width: 28px;
}
.single .container .bottom-row .scroll-for-more .text {
  margin-top: 8px;
  color: #fff;
  text-transform: uppercase;
}

.detailed-information {
  margin-top: 100px;
  height: 100vh;
  padding-bottom: 50px;
  background-color: #fff;
  color: #000;
  transition: background-color 1.5s ease;
}

.detailed-information.in-view {
  background-color: #000;
  color: #fff;
}

.detailed-information .container .row {
  justify-content: space-between;
  align-items: flex-start;
}
.detailed-information .container .row h2 {
  font-size: 28px;
}

.detailed-information .container .row p {
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  line-height: 28px;
  font-weight: 400;
  width: 800px;
}

.detailed-information-text p {
  font-size: 28px;
  padding: 0px 50px;
  font-family: "Apercu Mono pro";
  font-weight: 400;
  padding-top: 100px;
}

.wrapper .is-reveal .image-container {
  transform-origin: scale(1);
}

.sepia {
  filter: grayscale(100%) sepia(20%) brightness(80%);
}

.masked {
  clip-path: circle(25% at 50% 50%);
}

.banner-container {
  cursor: none;
  overflow: hidden;
}

.banner-container .cursor {
  position: fixed;
  background: #2128bd;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: -10px 0 0 -10px;
  will-change: transform;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
}

.banner-container .shapes {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #2128bd;
}

.banner-container .shapes .shape {
  will-change: transform;
  position: absolute;
  border-radius: 50%;
}

.banner-container .shapes .shape.shape-1 {
  background-color: #005ffe;
  width: 650px;
  height: 650px;
  margin: -325px 0 0 -325px;
}

.banner-container .shapes .shape.shape-2 {
  background-color: #ffe5e3;
  width: 440px;
  height: 440px;
  margin: -220px 0 0 -220px;
}

.banner-container .shapes .shape.shape-3 {
  background-color: #ffcc57;
  width: 270px;
  height: 270px;
  margin: -135px 0 0 -135px;
}

.banner-container .banner-content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #ffff;
  mix-blend-mode: screen;
}

.banner-container .banner-content .banner-text {
  color: black;
  margin: 0;
  font-size: 130px;
  font-weight: 800;
  letter-spacing: 5px;
}

.banner-container .banner-content .txt {
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  color: red;
}

/* Media Queries for Tablet and Phone */
@media (max-width: 768px) {
  .banner-container .banner-content {
    display: block;
  }

  .banner-container .banner-content .banner-text {
    font-size: 100px;
    margin-top: 100px;
    text-align: center;
  }

  .banner-container .banner-content .txt {
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
  }
}

@media (max-width: 480px) {
  .banner-container .banner-content {
    display: block;
  }

  .banner-container .banner-content .banner-text {
    font-size: 80px;
    margin-top: 50px;
    text-align: center;
  }

  .banner-container .banner-content .txt {
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
  }
}

@media (min-width: 350px) and (max-width: 767px) {
  .container {
    padding: 0 16px;
    height: 100%;
    /* display: none; */
  }

  .single .container .top-row {
    height: 30vh;
    width: 100%;
    align-items: center !important;
  }

  .single .container .top-row .top .model span {
    font-size: 45px;
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
  }

  .single .container .bottom-row .scroll-for-more {
    bottom: 100px;
    left: 50px;
  }

  .detailed-information .container .row p {
    font-size: 36px;
    width: 100%;
  }

  .text {
    font-size: 20px;
    line-height: 1.2;
    padding: 0px 16px;
    margin-bottom: 20px;
    position: absolute;
    top: -30%;
    /* height: 300px; */
  }

  .frame-single img {
    transform: translateY(50px) scale(1.00029) translateZ(0px) !important;
  }

  .thumbnail-single {
    width: 100%;
    height: 300px !important;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    padding: 0 24px;
  }

  .single .container .top-row .top .model span {
    font-size: 96px;
  }

  .single .container .bottom-row .scroll-for-more {
    bottom: 150px;
    left: 100px;
  }

  .detailed-information {
    margin-bottom: 50px;
    /* height: 150vh; */
  }

  .detailed-information .container .row p {
    font-size: 30px;
    width: 100%;
  }

  .text {
    font-size: 20px;
    /* line-height: 1.2; */
    padding: 30px;
    margin-top: 200px;
  }

  .single .container .bottom-row .bottom .thumbnail-single {
    /* width: 100%;
    height: 800px; */
    margin: 0 auto;
    /* overflow: hidden; */
    position: absolute;
    left: 0;
    right: 0;
  }
}

/* /////////// */

.about-page {
  overflow-x: hidden;
  width: 100%;
}

.projects-container {
  width: 100%;
  overflow-x: auto; /* Enable horizontal scrolling only for the Projects component */
  white-space: nowrap; /* Ensure child elements don't wrap */
}
